body {
  font-size: 16px;
  font-weight: 400;
}

.b-head {
  background-image: url(/images/bg2.jpg);
  background-position: top center;
  background-size: cover;
  background-color: #e5f4fb;

  h1 {
    font-weight: 700;
    font-size: 42px;
  }
}

.b-me {
  background: #efefef url(../images/b_main.jpg) bottom right no-repeat;
  background-size: 50%;  

  &__sign {
    color: white;
    font-weight: 700;
    position: absolute;
    right: 70px;
    bottom: 45px;

    @media (max-width: 768px) {
      right: 20px;
      bottom: 20px;
    }
  }
}

.b-odd {
  background-color: #efefef;
}

.b-join {
  &__button {
    white-space: normal;
  }
}
